<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Chain Recall</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link href="main.css" rel="stylesheet">
  </head>
  <body>
    <main class="panel">
      <ul class="panel__list">
        <li class="panel__item">
          <button data-token="0.81569,0.25490,0.19608" class="panel__color panel__color--red">Red</button>
        </li>
        <li class="panel__item">
          <button data-token="0.85882,0.39608,0.05490" class="panel__color panel__color--orange">Orange</button>
        </li>
        <li class="panel__item">
          <button data-token="0.94902,0.67451,0.06667" class="panel__color panel__color--yellow">Yellow</button>
        </li>
        <li class="panel__item">
          <button data-token="0.16471,0.72941,0.40392" class="panel__color panel__color--green">Green</button>
        </li>
        <li class="panel__item">
          <button data-token="0.09412,0.67059,0.55686" class="panel__color panel__color--cyan">Cyan</button>
        </li>
        <li class="panel__item">
          <button data-token="0.17647,0.54118,0.78039" class="panel__color panel__color--blue">Blue</button>
        </li>
        <li class="panel__item">
          <button data-token="0.57647,0.29804,0.69412" class="panel__color panel__color--violet">Violet</button>
        </li>
      </ul>
    </main>

    <script src="main.js"></script>
  </body>
</html>