<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Chain Recall</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link href="main.css" rel="stylesheet">
  </head>
  <body>
    <main class="panel panel--disabled">
      <ul class="panel__list">
        <li class="panel__item panel__item--control">
          <button class="panel__button panel__button--start">Start</button>
        </li>
        <li class="panel__item panel__item--red">
          <button disabled class="panel__button panel__button--color">Red</button>
        </li>
        <li class="panel__item panel__item--orange">
          <button disabled class="panel__button panel__button--color">Orange</button>
        </li>
        <li class="panel__item panel__item--yellow">
          <button disabled class="panel__button panel__button--color">Yellow</button>
        </li>
        <li class="panel__item panel__item--green">
          <button disabled class="panel__button panel__button--color">Green</button>
        </li>
        <li class="panel__item panel__item--cyan">
          <button disabled class="panel__button panel__button--color">Cyan</button>
        </li>
        <li class="panel__item panel__item--blue">
          <button disabled class="panel__button panel__button--color">Blue</button>
        </li>
        <li class="panel__item panel__item--violet">
          <button disabled class="panel__button panel__button--color">Violet</button>
        </li>
      </ul>
    </main>

    <script src="main.js"></script>
  </body>
</html>